#puzzle_canvas { top:100px; width:300px; height:300px; }
	body { background-color: #75A9FF;
               color: white;
               text-align: center;
	       font-family: sans-serif;
  }
 #message {
   background-color: #AAAAAA;
 }
